In [2]:
from __future__ import division

import pandas as pd
import numpy as np
import math
from datetime import datetime,timedelta,time

%matplotlib inline

In [3]:
training_path = 'dataSets/training/'
test_path1 = 'dataSets/testing_phase1/'

In [4]:
training_traj = pd.read_csv(training_path+'trajectories(table 5)_training.csv')

In [5]:
test_traj1 = pd.read_csv(test_path1+'trajectories(table 5)_test1.csv')

In [6]:
def time_to_window(x):
    dt = datetime.strptime(x, "%Y-%m-%d %H:%M:%S")
    dtmin = int(dt.minute / 20) * 20
    dtwindow = datetime(dt.year, dt.month, dt.day, dt.hour, dtmin, 0)
    return dtwindow

In [7]:
def format_window(wd):
    return '[{},{})'.format(str(wd), str(wd+timedelta(minutes=20)))

In [8]:
#training_traj['starting_datetime'] = pd.to_datetime(training_path['starting_time'])
training_traj['window'] = training_traj['starting_time'].apply(time_to_window)

training_traj_group_mean = \
training_traj.groupby(['intersection_id','tollgate_id','window']).mean()['travel_time']

training_traj_group_count = \
training_traj.groupby(['intersection_id','tollgate_id','window']).count()['travel_time']

In [9]:
ss = pd.read_csv('submission/submission_sample_travelTime.csv')

In [10]:
print(ss['time_window'][0])
print(format_window(training_traj['window'][0]))

[2016-10-18 08:00:00,2016-10-18 08:20:00)
[2016-07-19 00:00:00,2016-07-19 00:20:00)

In [11]:
from datetime import date, time

In [12]:
date_list = []

d1 = date(2016, 7, 19)  # start date
d2 = date(2016, 10, 17)  # end date

delta = d2 - d1         # timedelta

for i in range(delta.days + 1):
    date_list.append(d1 + timedelta(days=i))

give_time_list1 = [time(6,0), time(6,20), time(6,40), 
                   time(7,0), time(7,20), time(7,40)]
pred_time_list1 = [time(8,0), time(8,20), time(8,40), 
                   time(9,0), time(9,20), time(9,40)]

give_time_list2 = [time(15,0), time(15,20), time(15,40), 
                   time(16,0), time(16,20), time(16,40)]
pred_time_list2 = [time(17,0), time(17,20), time(17,40), 
                   time(18,0), time(18,20), time(18,40)]

In [13]:
date_list2 = []

d1 = date(2016, 10, 11)  # start date
d2 = date(2016, 10, 17)  # end date

delta = d2 - d1         # timedelta

for i in range(delta.days + 1):
    date_list2.append(d1 + timedelta(days=i))

In [14]:
# A2m.index[300].weekday()

In [15]:
def interpolate_missing_window(x):
    ss = [(i-datetime(1970,1,1)).total_seconds() for i in x.index]
    tt = x.values
    ssall = np.linspace(ss[0], ss[-1], (ss[-1]-ss[0])/1200+1)
    #print(len(ss), len(tt), len(ssall))
    ttall = np.interp(ssall, ss, tt)
    ssall = [int(i) for i in ssall]
    ssall = [datetime(1970,1,1)+timedelta(seconds=i) for i in ssall]
    return pd.Series(index=ssall, data=ttall)

In [16]:
# A2m = training_traj_group_mean.loc['A'].loc[2]

# A2m = interpolate_missing_window(A2m)

In [17]:
len(date_list)

91

In [18]:
first6 = np.array([])
next6 = np.array([])
for ii, ti in [('A',2),('A',3),('B',1),('B',3),('C',1),('C',3)]:
    mtmp = training_traj_group_mean.loc[ii].loc[ti]
    mtmp = interpolate_missing_window(mtmp)
    test6 = []
    for i in date_list:
        tmp = []
        for j in give_time_list1:
            tmp.append(mtmp[datetime.combine(i, j)])
        test6.append(tmp)
    result6 = test6
    first6 = np.append(first6, result6)
    
    test6 = []
    for i in date_list:
        tmp = []
        for j in pred_time_list1:
            tmp.append(mtmp[datetime.combine(i, j)])
        test6.append(tmp)
    result6 = test6
    next6 = np.append(next6, result6)

In [19]:
dfmorning = \
pd.concat([pd.DataFrame(first6.reshape(-1,6)),
           pd.DataFrame(next6.reshape(-1,6))], 
                        axis=1)

In [20]:
dfmorning.columns=['f0','f1','f2','f3','f4','f5',
                   'n0','n1','n2','n3','n4','n5']

In [21]:
first6 = np.array([])
next6 = np.array([])
for ii, ti in [('A',2),('A',3),('B',1),('B',3),('C',1),('C',3)]:
    mtmp = training_traj_group_mean.loc[ii].loc[ti]
    mtmp = interpolate_missing_window(mtmp)
    test6 = []
    for i in date_list:
        tmp = []
        for j in give_time_list2:
            tmp.append(mtmp[datetime.combine(i, j)])
        test6.append(tmp)
    result6 = test6
    first6 = np.append(first6, result6)
    
    test6 = []
    for i in date_list:
        tmp = []
        for j in pred_time_list2:
            tmp.append(mtmp[datetime.combine(i, j)])
        test6.append(tmp)
    result6 = test6
    next6 = np.append(next6, result6)

In [22]:
dfnight = \
pd.concat([pd.DataFrame(first6.reshape(-1,6)),
           pd.DataFrame(next6.reshape(-1,6))], 
                        axis=1)

In [23]:
dfnight.columns=['f0','f1','f2','f3','f4','f5',
                   'n0','n1','n2','n3','n4','n5']

In [48]:
len(dfmorning)

546

In [26]:
pred_loss(dfnight['f5'], dfnight['n1'])

0.24960680174029845

In [49]:
dfmorning['dn'] = 0
dfmorning['it0'] = [1]*91+[0]*455
dfmorning['it1'] = [0]*91+[1]*91+[0]*364
dfmorning['it2'] = [0]*182+[1]*91+[0]*273
dfmorning['it3'] = [0]*273+[1]*91+[0]*182
dfmorning['it4'] = [0]*364+[1]*91+[0]*91
dfnight['dn'] = 1
dfnight['it0'] = [1]*91+[0]*455
dfnight['it1'] = [0]*91+[1]*91+[0]*364
dfnight['it2'] = [0]*182+[1]*91+[0]*273
dfnight['it3'] = [0]*273+[1]*91+[0]*182
dfnight['it4'] = [0]*364+[1]*91+[0]*91
dfall = pd.concat([dfmorning, dfnight], axis=0)

In [50]:
dfall

,f0,f1,f2,f3,f4,f5,n0,n1,n2,n3,n4,n5,dn,it0,it1,it2,it3,it4
0,46.356000,48.588000,66.642500,64.681000,85.676000,58.968889,81.602857,80.207857,63.448462,78.051176,69.038333,69.657143,0,1,0,0,0,0
1,44.095000,59.874444,88.815000,77.847778,94.919167,73.677273,61.007000,332.162000,50.995000,44.935000,34.115000,23.295000,0,1,0,0,0,0
2,63.176667,87.030000,65.336667,78.012000,109.729333,114.720000,116.073636,125.105000,88.416842,71.472222,116.583333,88.655714,0,1,0,0,0,0
3,65.363333,57.038750,63.971429,132.218889,100.391765,65.348889,75.532500,77.430000,70.937500,69.421111,78.808889,61.732667,0,1,0,0,0,0
4,329.725833,80.130000,82.557333,87.626667,86.326667,96.311818,60.648750,89.380833,115.883636,109.430000,187.890556,151.746538,0,1,0,0,0,0
5,36.170000,63.176667,60.760000,106.390000,70.000000,63.798750,63.518571,62.114286,71.676000,60.730000,66.595000,83.738571,0,1,0,0,0,0
6,50.701250,40.385000,63.420000,85.789333,74.478462,141.304000,197.963125,199.165000,122.648824,81.544444,70.120000,72.356000,0,1,0,0,0,0
7,29.636667,83.015714,55.275556,64.600000,97.300000,98.635000,91.955333,79.574500,94.512941,120.258667,54.530909,76.308889,0,1,0,0,0,0
8,23.060000,77.396000,74.658000,91.734000,79.574167,93.998462,82.918333,123.381333,215.358824,86.847222,65.975333,52.546250,0,1,0,0,0,0
9,44.257500,55.885000,64.150000,56.910000,84.172222,88.321250,82.511765,78.567368,92.614000,78.451111,95.042646,111.634180,0,1,0,0,0,0
10,41.710000,59.757143,60.583636,68.888000,49.595000,84.084545,72.504167,160.988125,90.347778,69.616923,94.340952,64.214545,0,1,0,0,0,0
11,50.598000,44.538333,54.223333,80.872500,55.073636,63.881429,125.359444,71.307059,85.161818,85.027778,107.496800,142.503333,0,1,0,0,0,0
12,35.760000,52.227500,51.536667,34.900000,71.221111,68.737500,65.371333,70.680588,68.475000,61.400000,75.391053,61.356923,0,1,0,0,0,0
13,44.385000,58.197500,49.157143,77.313846,107.510714,112.465000,74.748462,149.228000,101.704545,57.661818,55.759091,89.582500,0,1,0,0,0,0
14,49.415000,48.300000,45.853333,82.616923,64.378889,156.360833,93.358571,85.717000,77.496429,85.537391,150.152941,91.740000,0,1,0,0,0,0
15,52.531429,72.270000,70.323333,64.972000,61.728000,82.310769,194.434167,130.389231,75.218750,72.891765,104.425000,84.783158,0,1,0,0,0,0
16,39.928333,92.952000,50.940000,57.358333,64.434286,100.177333,100.320714,92.034000,61.151000,147.285882,105.158125,72.730000,0,1,0,0,0,0
17,67.393333,52.771667,48.520000,51.916000,55.415556,65.104286,98.709000,77.320769,79.571538,83.754444,101.410588,53.305455,0,1,0,0,0,0
18,62.931667,44.457500,84.707692,69.298750,66.265833,75.334286,56.505385,75.578235,80.077917,139.137000,73.750000,58.750000,0,1,0,0,0,0
19,57.843333,51.535556,43.465000,49.385000,54.837500,46.930000,57.575000,60.672000,60.128182,101.412778,66.778571,76.766667,0,1,0,0,0,0
20,42.137500,53.025000,58.708889,57.872000,58.735556,75.648333,159.069091,121.200625,62.884000,70.192857,92.737857,86.560000,0,1,0,0,0,0
21,74.511111,52.184286,80.318333,63.166000,65.435556,53.708889,128.412500,71.418750,77.603125,83.787500,67.323529,65.405000,0,1,0,0,0,0
22,49.536000,69.682500,100.773333,72.745714,70.264000,71.946667,98.343333,124.740000,81.955714,80.570000,75.378000,69.020000,0,1,0,0,0,0
23,42.926667,71.680000,49.717143,62.080909,49.610000,82.072222,59.863333,51.260000,85.506667,88.019091,87.388421,79.934444,0,1,0,0,0,0
24,40.713333,57.448571,47.153333,56.730000,49.980000,68.612000,71.265000,76.426000,73.238125,64.510000,59.511176,51.068462,0,1,0,0,0,0
25,56.080000,33.660000,57.818889,64.157778,67.371667,84.124444,71.189412,124.478571,120.445385,101.361000,53.308000,18.970000,0,1,0,0,0,0
26,38.305000,63.555000,45.902000,62.692500,40.308750,46.180000,85.973333,73.934286,89.452500,65.474545,91.291429,93.434286,0,1,0,0,0,0
27,57.825000,111.765000,48.235714,39.225000,72.960000,69.629000,104.144375,99.860000,69.562667,98.708125,88.138125,67.316923,0,1,0,0,0,0
28,72.514000,59.680000,46.507500,66.388889,54.905556,42.355000,61.134000,75.160000,58.996667,110.402500,97.977778,76.252500,0,1,0,0,0,0
29,41.347500,34.400000,44.493333,75.182222,64.237727,67.770000,95.466000,77.382857,97.893333,61.624000,74.545333,60.116667,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,138.740000,142.775000,130.380000,145.466000,177.483333,149.406667,121.330000,133.190000,156.264167,179.338333,198.189167,217.040000,1,0,0,0,0,0
517,163.086667,185.190000,167.510000,149.830000,145.610000,154.100000,215.290000,194.933333,174.576667,154.220000,190.440000,186.325000,1,0,0,0,0,0
518,114.645000,159.060000,131.040000,153.670000,164.537500,175.405000,196.545000,189.046111,181.547222,174.048333,161.010556,147.972778,1,0,0,0,0,0
519,219.100000,294.555000,127.070000,169.380000,166.836667,239.330000,241.300000,133.250000,173.890000,164.540000,131.760000,188.630000,1,0,0,0,0,0
520,181.150000,209.255000,169.887500,203.820000,165.294000,194.590000,122.260000,219.420000,177.797500,136.175000,283.730000,125.445000,1,0,0,0,0,0
521,156.296667,120.060000,220.950000,221.572500,137.875000,146.610000,155.345000,164.080000,170.530000,176.980000,183.430000,218.166667,1,0,0,0,0,0
522,214.410000,228.480000,214.987500,201.495000,184.620000,185.087500,187.825714,160.634000,191.928000,223.222000,155.500000,174.380000,1,0,0,0,0,0
523,221.336000,219.855000,206.343750,181.838333,212.181667,166.582500,171.907500,197.167500,221.266667,254.580833,287.895000,283.615000,1,0,0,0,0,0
524,170.337500,191.495000,163.890000,184.250000,113.995000,154.257500,194.520000,143.876667,293.155000,209.850000,163.000000,175.990000,1,0,0,0,0,0
525,144.140000,170.156667,195.673333,283.177500,372.560000,208.220000,208.420000,152.170000,168.590000,168.230000,167.870000,176.820000,1,0,0,0,0,0
526,159.960000,142.260000,137.870000,173.073333,167.470000,180.613333,142.232500,223.200000,183.270000,366.935000,248.930000,208.710000,1,0,0,0,0,0
527,173.480000,182.255000,200.946667,209.933333,152.605000,164.582500,176.560000,184.950000,185.975000,187.000000,188.025000,189.050000,1,0,0,0,0,0
528,168.956667,226.985000,265.186667,204.622500,160.110000,325.465000,206.884000,212.483333,149.625000,199.573333,298.060000,244.390000,1,0,0,0,0,0
529,144.828667,135.204000,190.016667,151.556000,199.533333,187.900556,176.267778,164.635000,147.287500,129.940000,138.450000,146.960000,1,0,0,0,0,0
530,216.243333,178.970000,192.200000,171.210000,208.880000,148.302000,215.748333,163.440000,226.430000,232.670000,196.331667,159.993333,1,0,0,0,0,0
531,154.070000,171.150000,178.345000,187.296667,240.526667,171.170000,180.941667,171.863333,177.633333,183.403333,178.273333,164.150000,1,0,0,0,0,0
532,164.550000,129.020000,168.167500,184.830000,181.536000,211.288333,208.336667,158.200000,211.366000,160.270000,143.095000,206.526667,1,0,0,0,0,0
533,195.650909,172.720000,158.060833,163.960000,156.274000,230.602000,221.980000,188.420000,193.638000,218.756667,175.240000,168.340000,1,0,0,0,0,0
534,173.970000,167.390000,177.250000,169.355000,138.515000,153.122500,167.730000,179.285000,190.840000,121.790000,193.760000,187.821111,1,0,0,0,0,0
535,325.950000,257.817500,189.685000,204.550000,160.590000,291.970000,204.260000,219.950000,315.260000,274.316667,233.373333,272.450000,1,0,0,0,0,0
536,141.193000,135.080000,138.950000,142.820000,134.616667,150.330000,186.053333,221.776667,97.060000,122.670000,187.340000,182.262857,1,0,0,0,0,0
537,133.565000,158.980000,175.057500,190.470000,157.371667,124.273333,143.082222,161.891111,180.700000,153.620000,182.425000,211.230000,1,0,0,0,0,0
538,94.120000,180.450000,128.090000,149.313333,170.536667,180.111667,189.826667,163.674000,173.340000,167.360000,161.380000,155.400000,1,0,0,0,0,0
539,158.230000,154.832500,151.435000,143.583333,179.793333,210.463333,196.846667,183.230000,218.230000,223.920000,229.610000,229.990000,1,0,0,0,0,0
540,140.385000,218.830000,141.395000,170.920000,164.540000,214.780000,181.680000,148.580000,196.050000,146.060000,181.390000,216.720000,1,0,0,0,0,0
541,139.355000,127.710000,189.905000,152.163333,196.401429,215.695714,234.990000,156.196000,161.812000,167.428000,173.044000,178.660000,1,0,0,0,0,0
542,126.678000,122.789000,118.900000,141.130000,170.056000,191.275000,163.773333,137.733333,378.526667,192.380000,138.110000,128.240000,1,0,0,0,0,0
543,176.235000,200.010000,195.490000,173.840000,220.372500,194.595000,82.420000,201.305000,176.670000,209.620000,242.570000,258.620000,1,0,0,0,0,0
544,193.837500,209.328571,286.613333,235.160000,196.463333,130.097500,194.761111,215.280000,224.670000,141.090000,142.805000,144.407500,1,0,0,0,0,0
545,126.445000,141.302222,156.159444,171.016667,311.180000,198.460000,160.238333,122.016667,147.878333,173.740000,350.113333,526.486667,1,0,0,0,0,0

In [51]:
dfalltrain = dfall.iloc[:-84]
dfalltest = dfall.iloc[-84:]

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import xgboost

In [53]:
def set_pred_window(i):
    Y = dfalltrain.iloc[:,6+i]
    Yt = dfalltest.iloc[:,6+i]
    return Y, Yt

In [55]:
X = dfalltrain.iloc[:,[0,1,2,3,4,5,12,13,14,15,16,17]]
Xt = dfalltest.iloc[:,[0,1,2,3,4,5,12,13,14,15,16,17]]

In [81]:
Y, Yt = set_pred_window(1)

In [98]:
lm = LinearRegression(fit_intercept=False)
lm.fit(X, Y)
print pred_loss(lm.predict(X), Y)
print pred_loss(lm.predict(Xt), Yt)

0.251266122344
0.206930632392

In [113]:
lm = RandomForestRegressor(max_depth=7)
lm.fit(X, Y)
print pred_loss(lm.predict(X), Y)
print pred_loss(lm.predict(Xt), Yt)

0.190825250479
0.19121687925

In [115]:
lm = xgboost.XGBClassifier(max_depth=7)
lm.fit(X, Y)
print pred_loss(lm.predict(X), Y)
print pred_loss(lm.predict(Xt), Yt)

0.240201287085
0.331965929312

In [79]:
meandf = (dfalltest['f0']+dfalltest['f1']+dfalltest['f2']+
          dfalltest['f3']+dfalltest['f4']+dfalltest['f5'])/6

np.mean([pred_loss(meandf, dfalltest[idd]) 
         for idd in ['n1']])

0.16370041917290754

In [107]:
lm_list = []
for i in range(6):
    Y, Yt = set_pred_window(i)
    lm = RandomForestRegressor(max_depth=7)
    lm.fit(X, Y)
    #print pred_loss(lm.predict(X), Y)
    print pred_loss(lm.predict(Xt), Yt)
    lm_list.append(lm)

0.200233859041
0.150174223161
0.165474496801
0.185951746868
0.20708412761
0.196259154016

In [525]:
# lm = xgboost.XGBClassifier()
# lm.fit(X, Y)
# print pred_loss(lm.predict(X), Y)
# print pred_loss(lm.predict(Xt), Yt)

0.165805915328
0.262077128056

In [46]:
for i in lm_list:
    print i.coef_

[  5.04271725e-02   1.05088511e-04   8.62233252e-02   2.15531389e-01
   1.64171633e-01   2.89879520e-01  -6.00652007e+00]
[  0.08108744   0.03720535   0.05288547   0.10771723   0.18995688
   0.36242103 -10.13934917]
[  0.05288135   0.07684767   0.08300509   0.11372058   0.27232298
   0.17135667 -11.12290912]
[  1.19580810e-01   1.40978012e-02   9.96017860e-02   1.64229800e-01
   1.39465120e-01   2.43042507e-01  -1.45973813e+01]
[ 0.09874127  0.02823051  0.09975046  0.14426138  0.19544655  0.2089417
 -7.70160652]
[ 0.1547377  -0.02433399  0.11892897  0.19551693  0.16989831  0.10429231
 -1.2926539 ]

In [509]:
meandf = (dfall['f0']+dfall['f1']+dfall['f2']+
          dfall['f3']+dfall['f4']+dfall['f5'])/6

np.mean([pred_loss(meandf, dfall[idd]) 
         for idd in ['n0','n1','n2','n3','n4','n5']])

0.23057448974935238

In [510]:
meandf = (dfalltest['f0']+dfalltest['f1']+dfalltest['f2']+
          dfalltest['f3']+dfalltest['f4']+dfalltest['f5'])/6

np.mean([pred_loss(meandf, dfalltest[idd]) 
         for idd in ['n0','n1','n2','n3','n4','n5']])

0.1855935405015712

In [467]:
meandf = (dfmorning['f0']+dfmorning['f1']+dfmorning['f2']+dfmorning['f3']+dfmorning['f4']+dfmorning['f5'])/6

np.mean([pred_loss(meandf, dfmorning[idd]) for idd in ['n0','n1','n2','n3','n4','n5']])

0.24447079035997757

In [23]:
'a'.join(['b','c'])

'bac'

In [56]:
from scipy.stats import gmean

In [470]:
def sub1(x):
    return np.repeat([np.mean(i) for i in x], 6)

In [471]:
def sub2(x):
    return np.repeat([gmean(i) for i in x], 6)

In [24]:
def sos(x):
    return sum(i**2 for i in x)

In [25]:
def sl(x):
    return [i**2 for i in range(x)]

In [29]:
sos(sl(4))

98

In [25]:
def pred_loss(x_pred, x_true):
    x_pred = np.array(x_pred)
    x_true = np.array(x_true)
    return (abs(x_pred-x_true)/x_true).mean()

In [483]:
def true_value(date_list):
    morning_true = np.array([])
    for ii, ti in [('A',2),('A',3),('B',1),('B',3),('C',1),('C',3)]:
        mtmp = training_traj_group_mean.loc[ii].loc[ti]
        mtmp = interpolate_missing_window(mtmp)
        test6 = []
        for i in date_list:
            tmp = []
            for j in pred_time_list1:
                tmp.append(mtmp[datetime.combine(i, j)])
            test6.append(tmp)
        result6 = test6
        morning_true = np.append(morning_true, result6)
    return morning_true

In [484]:
def prediction(date_list, func):
    morning_pred = np.array([])
    for ii, ti in [('A',2),('A',3),('B',1),('B',3),('C',1),('C',3)]:
        mtmp = training_traj_group_mean.loc[ii].loc[ti]
        mtmp = interpolate_missing_window(mtmp)    
        test6 = []
        for i in date_list:
            tmp = []
            for j in give_time_list1:
                tmp.append(mtmp[datetime.combine(i, j)])
            test6.append(tmp)
        result6 = func(test6)
        morning_pred = np.append(morning_pred, result6) 
    return morning_pred

In [485]:
def sub3(x):
    return np.array([ma(i) for i in x]).flatten()

In [486]:
def ma(x):
    for i in range(6):
        x.append(np.mean(x[i:i+6]))
    return x[6:]

In [487]:
sub3([[1,2,3,4,5,6],[2,3,4,5,6,7]])

array([ 3.5       ,  3.91666667,  4.23611111,  4.44212963,  4.5158179 ,
        4.43512088,  4.5       ,  4.91666667,  5.23611111,  5.44212963,
        5.5158179 ,  5.43512088])

In [488]:
morning_true = true_value(date_list)
morning_pred = prediction(date_list, sub1)

In [489]:
pred_loss(morning_pred, morning_true)

0.24447079035997757

In [31]:
morning_train66 = []
for i in date_list:
    tmp = []
    for j in give_time_list1:
        tmp.append(A2m[datetime.combine(i, j)])
    for j in pred_time_list1:
        tmp.append(A2m[datetime.combine(i, j)]) 
    morning_train66.append(tmp)

In [49]:
night_train66 = []
for i in date_list:
    tmp = []
    for j in give_time_list2:
        tmp.append(A2m[datetime.combine(i, j)])
    for j in pred_time_list2:
        tmp.append(A2m[datetime.combine(i, j)]) 
    night_train66.append(tmp)

In [34]:
def naive_pred_loss(x):
    first6 = x[:6]
    pred = [np.mean(first6)]*6
    return pred_loss(pred, x[6:])

In [35]:
naive_loss_list = [naive_pred_loss(i) for i in morning_train66]

In [50]:
naive_loss_list = [naive_pred_loss(i) for i in night_train66]

In [52]:
np.mean(naive_loss_list)

0.22280558325098837

# Make first submission

Most naive approach, use average of the former 2 hours for prediction.

Change algebraic average to geometric average for second submission.

In [680]:
#training_traj['starting_datetime'] = pd.to_datetime(training_path['starting_time'])
training_traj['window'] = training_traj['starting_time'].apply(time_to_window)

training_traj_group_mean = \
training_traj.groupby(['intersection_id','tollgate_id','window']).mean()['travel_time']

training_traj_group_count = \
training_traj.groupby(['intersection_id','tollgate_id','window']).count()['travel_time']

In [681]:
test_traj1['window'] = test_traj1['starting_time'].apply(time_to_window)
test_traj1_group_mean = \
test_traj1.groupby(['intersection_id','tollgate_id','window']).mean()['travel_time']

In [682]:
date_list = []

d1 = date(2016, 10, 18)  # start date
d2 = date(2016, 10, 24)  # end date

delta = d2 - d1         # timedelta

for i in range(delta.days + 1):
    date_list.append(d1 + timedelta(days=i))

give_time_list1 = [time(6,0), time(6,20), time(6,40), 
                   time(7,0), time(7,20), time(7,40)]
# pred_time_list1 = [time(8,0), time(8,20), time(8,40), 
#                    time(9,0), time(9,20), time(9,40)]
give_time_list2 = [time(15,0), time(15,20), time(15,40), 
                   time(16,0), time(16,20), time(16,40)]

In [683]:
A2mt = test_traj1_group_mean.loc['A'].loc[2]
A2mt = interpolate_missing_window(A2mt)

In [684]:
morning_test6 = []
for i in date_list:
    tmp = []
    for j in give_time_list1:
        tmp.append(A2mt[datetime.combine(i, j)])
    morning_test6.append(tmp)

In [685]:
tmp

[41.18833333333334,
 50.115714285714283,
 37.168000000000006,
 75.683750000000003,
 54.032857142857146,
 78.277999999999992]

In [694]:
test_traj1_group_mean.loc['A'].loc[2].iloc[:6]

window
2016-10-18 06:00:00    41.097143
2016-10-18 06:20:00    43.681667
2016-10-18 06:40:00    68.024286
2016-10-18 07:00:00    52.608333
2016-10-18 07:20:00    56.165556
2016-10-18 07:40:00    63.598571
Name: travel_time, dtype: float64

In [691]:
lm_list[0].coef_

array([  5.04271725e-02,   1.05088511e-04,   8.62233252e-02,
         2.15531389e-01,   1.64171633e-01,   2.89879520e-01,
        -6.00652007e+00])

In [692]:
lm_list[0].intercept_

30.893025008264075

In [686]:
def predict_from_lm(t6, dn):
    return [lm_list[i].predict(np.array(t6+[dn]).reshape(1,-1))[0] \
            for i in range(6)]

In [687]:
morning = np.array([])
for ii, ti in [('A',2),('A',3),('B',1),('B',3),('C',1),('C',3)]:
    mtmp = test_traj1_group_mean.loc[ii].loc[ti]
    mtmp = interpolate_missing_window(mtmp)
    test6 = []
    for i in date_list:
        tmp = []
        for j in give_time_list1:
            tmp.append(mtmp[datetime.combine(i, j)])
        test6.append(tmp)
    result6 = [predict_from_lm(i, 0) for i in test6]
    result6 = [item for sublist in result6 for item in sublist]
    #result6 = np.repeat([gmean(i) for i in test6], 6)
    morning = np.append(morning, result6)

In [688]:
night = np.array([])
for ii, ti in [('A',2),('A',3),('B',1),('B',3),('C',1),('C',3)]:
    mtmp = test_traj1_group_mean.loc[ii].loc[ti]
    mtmp = interpolate_missing_window(mtmp)
    test6 = []
    for i in date_list:
        tmp = []
        for j in give_time_list2:
            tmp.append(mtmp[datetime.combine(i, j)])
        test6.append(tmp)
    result6 = [predict_from_lm(i, 1) for i in test6]
    result6 = [item for sublist in result6 for item in sublist]
    #result6 = np.repeat([gmean(i) for i in test6], 6)
    night = np.append(night, result6)

In [689]:
ss['avg_travel_time'] = np.append(morning, night)

In [690]:
ss.head(20)

,intersection_id,tollgate_id,time_window,avg_travel_time
0,A,2,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",77.830770
1,A,2,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",80.071507
2,A,2,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",86.402262
3,A,2,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",89.841479
4,A,2,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",88.785946
5,A,2,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",86.286607
6,A,2,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",84.473507
7,A,2,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",87.113912
8,A,2,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",97.817200
9,A,2,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",94.477799
10,A,2,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",95.930969
11,A,2,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",92.385809
12,A,2,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",87.631485
13,A,2,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",89.772729
14,A,2,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",93.857285
15,A,2,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",99.346288
16,A,2,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",97.444924
17,A,2,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",95.396298
18,A,2,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",79.890185
19,A,2,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",84.389264

In [696]:
ss.to_csv('submission/submission_0403.csv', index=False)

# Following is the script given

In [18]:
# -*- coding: utf-8 -*-
#!/usr/bin/env python

"""
Objective:
Calculate the average travel time for each 20-minute time window.

"""

# import necessary modules
import math
from datetime import datetime,timedelta

file_suffix = '.csv'
path = 'dataSets/training/'  # set the data directory

def avgTravelTime(in_file):

    out_suffix = '_20min_avg_travel_time'
    in_file_name = in_file + file_suffix
    out_file_name = in_file.split('_')[1] + out_suffix + file_suffix

    # Step 1: Load trajectories
    fr = open(path + in_file_name, 'r')
    fr.readline()  # skip the header
    traj_data = fr.readlines()
    fr.close()
    print(traj_data[0])

    # Step 2: Create a dictionary to store travel time for each route per time window
    travel_times = {}  # key: route_id. Value is also a dictionary of which key is the start time for the time window and value is a list of travel times
    for i in range(len(traj_data)):
        each_traj = traj_data[i].replace('"', '').split(',')
        intersection_id = each_traj[0]
        tollgate_id = each_traj[1]

        route_id = intersection_id + '-' + tollgate_id
        if route_id not in travel_times.keys():
            travel_times[route_id] = {}

        trace_start_time = each_traj[3]
        trace_start_time = datetime.strptime(trace_start_time, "%Y-%m-%d %H:%M:%S")
        time_window_minute = int(trace_start_time.minute / 20) * 20
        start_time_window = datetime(trace_start_time.year, trace_start_time.month, trace_start_time.day,
                                     trace_start_time.hour, time_window_minute, 0)
        tt = float(each_traj[-1]) # travel time

        if start_time_window not in travel_times[route_id].keys():
            travel_times[route_id][start_time_window] = [tt]
        else:
            travel_times[route_id][start_time_window].append(tt)

    # Step 3: Calculate average travel time for each route per time window
    fw = open(out_file_name, 'w')
    fw.writelines(','.join(['"intersection_id"', '"tollgate_id"', '"time_window"', '"avg_travel_time"']) + '\n')
    for route in travel_times.keys():
        route_time_windows = list(travel_times[route].keys())
        route_time_windows.sort()
        for time_window_start in route_time_windows:
            time_window_end = time_window_start + timedelta(minutes=20)
            tt_set = travel_times[route][time_window_start]
            avg_tt = round(sum(tt_set) / float(len(tt_set)), 2)
            out_line = ','.join(['"' + route.split('-')[0] + '"', '"' + route.split('-')[1] + '"',
                                 '"[' + str(time_window_start) + ',' + str(time_window_end) + ')"',
                                 '"' + str(avg_tt) + '"']) + '\n'
            fw.writelines(out_line)
    fw.close()

def main():

    in_file = 'trajectories(table 5)_training'
    avgTravelTime(in_file)

if __name__ == '__main__':
    main()

"B","3","1065642","2016-07-19 00:14:24","105#2016-07-19 00:14:24#9.56;100#2016-07-19 00:14:34#6.75;111#2016-07-19 00:14:41#13.00;103#2016-07-19 00:14:54#7.47;122#2016-07-19 00:15:02#32.85","70.85"